@import 'https://fonts.googleapis.com/css?family=Inconsolata';
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


@font-face {
	/* Font source: http://sensi.org/~svo/glasstty/ */
	font-family: Glass;
	src: url("Glass_TTY_VT220.eot");
	src: url("Glass_TTY_VT220.eot?#iefix") format("embedded-opentype"),
		 url("Glass_TTY_VT220.woff2") format("woff2"),
		 url("Glass_TTY_VT220.woff") format("woff"),
		 url("Glass_TTY_VT220.svg#Glass_TTY_VT220") format("svg"),
		 url("Glass_TTY_VT220.ttf") format("truetype"),
		 url("Glass_TTY_VT220.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

body {
  font-family: Glass, Glass_TTY_VT220, monospace;
  font-size: 1.5rem;
  line-height: 150%;
background-color: #111111;}

#feedback {
  cursor: pointer;
  font: white;
}

#feedback:hover {
  color: white;
  background: blue;
  padding: 5px;
  text-decoration: none;
  cursor: pointer;
}
a {
  color: white;
  text-decoration: none;
  
  
}

footer { flex: 0 0 auto;}


.TextArea { 
   
  padding: 20px;
  overflow-y: scroll;
  color: #5dff4b;
 text-shadow: none;
  line-height: 140%;
  border: none;
  grid-area: 3 / 2 / 4 / 3; }


.CommentArea { 
  overflow-y: scroll;
  color: white;
  background: #111111
  ;
  border: 3px double white;
  grid-area: 6 / 2 / 6 / 3;
    max-height: 300px; 
  
    padding-left: 10%;
    padding-right: 15px;
    padding-top: none;
    text-shadow: 0px 0px 1.2em #5dff4b;
    font-family: Glass, Glass_TTY_VT220, monospace;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #111111;
  color: white;
}

.button {
  width: 130px;
  height: 40px;
  background-color: black;
border: solid 1px white;
color: white;
font-family: Glass, Glass_TTY_VT220, monospace;}

.button hover { background-color:#5dff4b;
color: black;}




textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  background-color: #111111;
  color: white;
  font-size: 16px;
  resize: none;
}


html, body , .container {
  height: 100%;
  margin: 0;
}

/* Page 2 */

.container2 {  display: grid;
  grid-template-columns: 0.1fr 4.2fr 0.1fr;
  grid-template-rows: 0.1fr 0.4fr 0.1fr 4.6fr 0.2fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  background-color: #111111;
  color: white; 
 
}


.Menu2 { grid-area: 2 / 2 / 3 / 3;
margin:none;
padding:none; 
color: white;
text-shadow: 0px 0px 1.0em #5dff4b;}

.Text2 { grid-area: 4 / 2 / 5 / 3;
padding-left:10%;
padding-right:10%;
padding-top:20px;
padding-bottom:20px;
font-size: 1.1rem; 
text-shadow: none;
  line-height: 140%;
  overflow-y: scroll;
  border: double 3px white;
  color: white;}
  


.container2 {
  border: 1px;
  height: 100%;
  margin: 0;
}

.storybox {
  border: 1px solid white;
  overflow-y: scroll;
  border-radius: 30px;
  padding: 20px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
}
.story p {
  color: transparent;
  background-position: right;
  background-size: 100% 100%;
  background-image: linear-gradient(#a0aec0, #a0aec0);
  
}
.story:hover p {
  color: white;
  background-size: 0% 100%;
}

.story p {
  display: inline;
  background-repeat: no-repeat;
  transition: all 500ms ease-in-out;
}



/* Start SCANLINE */
.scanlines {
  position: relative;
  overflow: hidden;
  
}

.scanlines:before, .scanlines:after {
  display: block;
  pointer-events: none;
  content: "";
  position: absolute;
}
.scanlines:before {
  width: 100%;
  height: 2px;
  z-index: 2147483649;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0.75;
  -webkit-animation: scanline 6s linear infinite;
          animation: scanline 6s linear infinite;
}
.scanlines:after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2147483648;
  background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.3) 51%);
  background-size: 100% 4px;
  -webkit-animation: scanlines 1s steps(60) infinite;
          animation: scanlines 1s steps(60) infinite;
}

/* ANIMATE UNIQUE SCANLINE */
/* Inspired by [https://codepen.io/meduzen/pen/zxbwRV] */


@-webkit-keyframes scanline {
  0% {
    transform: translate3d(0, 200000%, 0);
    position: absolute; bottom: 100%; 
  }
}
@keyframes scanline {
  0% {
    transform: translate3d(0, 200000%, 0);
  }
}
@-webkit-keyframes scanlines {
  0% {
    background-position: 0 50%;
  }
}
@keyframes scanlines {
  0% {
    background-position: 0 50%;
  }
}
  
  

/* CRT */
/* Original from http://aleclownes.com/2017/02/01/crt-display.html */


@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}
@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  35% {
    text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
}
.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}
.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}
.crt {
  animation: textShadow 1.6s infinite;
}
