@import 'https://fonts.googleapis.com/css?family=Inconsolata';
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


@font-face {
	/* Font source: http://sensi.org/~svo/glasstty/ */
	font-family: Glass;
	src: url("Glass_TTY_VT220.eot");
	src: url("Glass_TTY_VT220.eot?#iefix") format("embedded-opentype"),
		 url("Glass_TTY_VT220.woff2") format("woff2"),
		 url("Glass_TTY_VT220.woff") format("woff"),
		 url("Glass_TTY_VT220.svg#Glass_TTY_VT220") format("svg"),
		 url("Glass_TTY_VT220.ttf") format("truetype"),
		 url("Glass_TTY_VT220.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

body {
  font-family: Glass, Glass_TTY_VT220, monospace;}

.container {  
  
  font-family: Glass, Glass_TTY_VT220, monospace;
  color: #5dff4b;
  	text-shadow: none;
  background-color: #111111;
  display: grid;
  
  grid-template-columns: 0.3fr 3.1fr 0.3fr;
  grid-template-rows: 0.5fr 0.3fr 2.9fr 0.1fr 9.3em 0.3fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-items: stretch;
}


.Menu { border: 3px double white;
  border-bottom: none;
  background-color: #111111
  ;
  grid-area: 2 / 2 / 3 / 3;
  position: center;
  
  padding-left: 10px;
  color: white;
}
#feedback {
  cursor: pointer;
  font: white;
}

#feedback:hover {
  color: white;
  background: blue;
  padding: 5px;
  text-decoration: none;
  cursor: pointer;
}
a {
  color: white;
  text-decoration: none;
  
  
}





.window { 
  font-size: 1.5rem;
  background-color:#111111
  ;
  color: #5dff4b;
  border: 3px double white;
  grid-area: 2 / 2 / 4 / 3; 
}

.TextArea { 
   
  padding: 20px;
  overflow-y: scroll;
  color: #5dff4b;
 text-shadow: none;
  line-height: 140%;
  border: none;
  grid-area: 3 / 2 / 4 / 3; }


.CommentArea { 
  overflow-y: scroll;
  color: white;
  background: #111111
  ;
  border: 3px double white;
  grid-area: 5 / 2 / 6 / 3; 
  max-height: 300px; 
  
  padding-bottom: 20px;
  padding-left: 20px;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #111111;
  color: white;
}

.button {
  width: 130px;
  height: 40px;
  background-color: black;
border: solid 1px white;
color: white;
font-family: Glass, Glass_TTY_VT220, monospace;}

.button hover { background-color:#5dff4b;
color: black;}





textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  background-color: #111111;
  color: white;
  font-size: 16px;
  resize: none;
}
#disqus_thread {
  
  font-family: 'VT323', monospace;
  color: white;
  background: none;
  border: none;
  padding: 20px;
  grid-area: 5 / 2 / 6 / 3;
  height: 100%;
  font-size: 0.8em; /* adjust font size as needed */
}

#disqus_thread img {
  max-width: 100%;
  height: auto;
}


html, body , .container {
  height: 100%;
  margin: 0;
}

/* Page 2 */

.container2 {  display: grid;
  grid-template-columns: 0.1fr 4.2fr 0.1fr;
  grid-template-rows: 0.1fr 0.4fr 0.1fr 4.6fr 0.2fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  background-color: #111111;
  color: white; 
 
}


.Menu2 { grid-area: 2 / 2 / 3 / 3;
margin:none;
padding:none; }

.Text2 { grid-area: 4 / 2 / 5 / 3;
padding-left:10%;
padding-right:10%;
padding-top:30px;
padding-bottom:20px;
font-size: 1.5rem; 
text-shadow: none;
  line-height: 140%;
  overflow-y: scroll;
  border: double 3px white;}

.Menu { grid-area: 2 / 2 / 3 / 3; }


.container2 {
  border: 1px;
  height: 100%;
  margin: 0;
}

/* For presentation only, no need to copy the code below */
